<%- include('../header.ejs') %>
<%- include('../navigation.ejs') %>
<main>
    <div class="container">
        <h1>You have been unsubscribed</h1>
        <p>We're sorry to hear that, but we totally understand. You can always change these settings in your profile if you wish to re-subscribe.</p>
        <h3>Thanks,<br/>- The VillagersClub Team</h3>
    </div>
</main>
<%- include('../site-footer.ejs') %>
<%- include('../footer.ejs') %>