<div class="item" style="margin-top:30px;">
    <div class="title">
        <span>Sponsored Content</span>
    </div>
    <div class="content">
        <script type="text/javascript">
            amzn_assoc_placement = "adunit0";
            amzn_assoc_tracking_id = "villagersclub-20";
            amzn_assoc_ad_mode = "search";
            amzn_assoc_ad_type = "smart";
            amzn_assoc_marketplace = "amazon";
            amzn_assoc_region = "US";
            amzn_assoc_default_search_phrase = "<%= ad_keyword %>";
            amzn_assoc_default_category = "All";
            amzn_assoc_linkid = "28747cd2476fb13598e093d3c6f5b264";
            amzn_assoc_design = "in_content";
            amzn_assoc_title = "";
        </script>
        <script src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US"></script>
        <a href="/ads"><span class="btn small-info right" style="float:right;padding-top:4px;padding-bottom:4px;margin-top:0;">All advertising revenue goes towards directly supporting this website!</span></a>
    </div>
</div>