<%- include('./header.ejs') %>
<%- include('./navigation.ejs') %>
<main>
    <div class="container">
        <h1>Advertising Disclaimer</h1>
        <p>This website was built by 2 people who love Animal Crossing. We strive to keep information as accurate and up-to-date as possible, and we take on the responsibility of paying for servers and hosting ourselves.</p>

        <div class="grid grid-2" style="margin-top:30px;">
            <div class="item">
                <div class="title"><span>Thank you for visiting!</span></div>
                <div class="content">
                    We hope you find all of the information you're looking for, that's why we made this website in the first place.
                </div>
            </div>
            <img src="/ac-us.jpg" width="100%" style="border-radius:6px;max-width: none;max-height: none;">
        </div>

        <h3>We've placed ads on this website to support and continue development, we hope you understand.</h3>
    </div>
</main>
<%- include('./site-footer.ejs') %>
<%- include('./footer.ejs') %>