<%- include('./header.ejs') %>
<%- include('./navigation.ejs') %>
<main>
    <div class="container">
<h1>An error has occurred!</h1>
    </div>
</main>
<%- include('./site-footer.ejs') %>
<%- include('./footer.ejs') %>