<strong>Becoming a Member will always be 100% free and you instantly unlock:</strong><br/>
<ul>
    <li>Your own Profile Page <!--, Friends List, and Private Messages--></li>
    <li><a href="/trades">Trading Post</a>, List Trades and Offers on Items and Villagers</li>
    <li>Furniture, Item, & Clothing <a href="/sets">Sets / Series</a>, <a href="/themes">Themes</a>, and <a href="/styles">Styles</a></li>
    <li>Creating and adding Items & Villagers to your own Shareable Lists</li>
    <!--<li>Engaging in Posting and Replying to Discussions on the Forums</li>-->
    <!--<li>No Ads</li>-->
    <li>Many new features coming soon!</li>
    <!--<li>Badges, Ranking, Achievements, and Unlockables</li>-->
</ul>