<footer class="footbar" id="footbar">

    <div class="inner container flex">

        <div class="leading-links text-right">
            <a href="https://discord.gg/7hdZGahHhr" rel="noopener" onclick="if ('ga' in window) {tracker = ga.getAll()[0];if (tracker) {tracker.send('event', 'intent', 'discord', 'web', 0);}}" class="btn" target="_blank" aria-label="Discord">
                <i class="fab fa-discord"></i> <span>Discord</span>
            </a>
            <a href="https://www.facebook.com/VillagersClub/" rel="noopener" onclick="if ('ga' in window) {tracker = ga.getAll()[0];if (tracker) {tracker.send('event', 'intent', 'facebook', 'web', 0);}}" class="btn" target="_blank" aria-label="Facebook">
                <i class="fab fa-facebook-square"></i>
            </a>
            <a href="https://twitter.com/VillagersClub" rel="noopener" onclick="if ('ga' in window) {tracker = ga.getAll()[0];if (tracker) {tracker.send('event', 'intent', 'twitter', 'web', 0);}}" class="btn" target="_blank" aria-label="Twitter">
                <i class="fab fa-twitter-square"></i>
            </a>
            <a href="https://www.instagram.com/villagersclub/" rel="noopener" onclick="if ('ga' in window) {tracker = ga.getAll()[0];if (tracker) {tracker.send('event', 'intent', 'instagram', 'web', 0);}}" class="btn" target="_blank" aria-label="Instagram">
                <i class="fab fa-instagram"></i>
            </a>

            <br>

            <a href="https://github.com/arkamedus" rel="noopener" onclick="if ('ga' in window) {tracker = ga.getAll()[0];if (tracker) {tracker.send('event', 'intent', 'github', 'web', 0);}}" class="btn" target="_blank" aria-label="GitHub">
                <i class="fab fa-github"></i> <span>GitHub</span>
            </a>

            <a href="/privacy" class="btn">
                <i class="fas fa-user-shield"></i> <span>Privacy<span class="hide-mobile"> Policy</span></span>
            </a>

           <!-- <a href="https://www.patreon.com/villagersclub" rel="noopener" data-patreon-widget-type="become-patron-button" onclick="if ('ga' in window) {tracker = ga.getAll()[0];if (tracker) {tracker.send('event', 'intent', 'patreon', 'web', 0);}}" class="btn alt" target="_blank" aria-label="Patreon">
                <i class="fab fa-patreon"></i> <span>Become a Patron</span>
            </a>-->

        </div>

        <div class="grow first">
            <p>Animal Crossing&#8482; and Nintendo&#8482; are registered trademarks
                of Nintendo of America. Items, villagers, images and properties are trademarks of Nintendo, we do not
                claim any ownership.</p>
            <p>This website was made possible thanks to the public <a
                        href="https://docs.google.com/spreadsheets/d/13d_LAJPlxMa_DubPTuirkIV4DERBMXbrWQsmSh8ReK4/htmlview?sle=true#gid=652984609" rel="noopener" onclick="if ('ga' in window) {tracker = ga.getAll()[0];if (tracker) {tracker.send('event', 'intent', 'acnh-spreadsheet', 'web', 0);}}"
                        class="btn small-info" target="_blank">ACNH Data Sheet Project</a> and our Patreon Supporters.</p>
        </div>

    </div>
</footer>